/* NAV CONTENT */

.name {
  position: absolute;
  top: 220px;

  font-weight: 900;
  font-size: 21.0736px;
  line-height: 271.02%;
  /* or 57px */

  color: #ffffff;
}

#circle {
  position: absolute;
  top: 140px;
  width: 100px;
  height: 100px;
  border-radius: 60%;
  background: #d9d9d9;
}

.box1 {
  position: fixed;
  height: 100%;
  width: 300px;
  padding: 0px;

  background: #000000;
  border-radius: 0px 21.0736px 21.0736px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navguy {
  position: absolute;
  height: 400px;
  left: 79px;
  top: 430px;
}

#nav {
  position: absolute;
  width: 200px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 271.02%;
  /* or 49px */

  color: #ffffff;
  text-align: left;
  z-index: 3;
}

#nav a {
  text-decoration: none;
  color: inherit;
}

#nav .selected {
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 0px 20px;
}

/* MAIN CONTENT */

.dashboard {
  display: grid;
}

.header {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: left;
}

.mainContent {
  position: absolute;
  height: 100%;
  left: 300px;
  right: 300px;
  padding: 100px;
}

.topMenu {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.date {
  text-align: right;
  margin-left: auto;
  color: black;
}

.box2 {
  position: absolute;
  width: 670px;
  height: 309.78px;
  left: 330.69px;
  top: 132.35px;

  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(79.0258px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 21.0736px;
}

.box3 {
  box-sizing: border-box;

  position: absolute;
  width: 270px;
  height: 418px;
  left: 331px;
  top: 482px;

  background: rgba(255, 255, 255, 0.4);
  border: 5.26839px solid #ffffff;
  box-shadow: 10.5368px 10.5368px 31.6103px rgba(0, 0, 0, 0.1);
  border-radius: 21.0736px;
}

.box4 {
  box-sizing: border-box;

  position: absolute;
  width: 345px;
  height: 175px;
  left: 650px;
  top: 482px;

  background: rgba(255, 255, 255, 0.4);
  border: 5.26839px solid #ffffff;
  border-radius: 21.0736px;
}

.box5 {
  box-sizing: border-box;

  position: absolute;
  width: 345px;
  height: 217px;
  left: 650px;
  top: 677px;

  background: rgba(255, 255, 255, 0.4);
  border: 5.26839px solid #ffffff;
  box-shadow: 10.5368px 10.5368px 31.6103px rgba(0, 0, 0, 0.1);
  border-radius: 21.0736px;
}  

.box6 {
  position: absolute;
  right: 0;
  background-color: green;
  width: 300px;
  height: 100%;
  top: 0;

  background: rgba(255, 255, 255, 0.4);
  border-left: 5.26839px solid #ffffff;
  box-shadow: 10.5368px 10.5368px 31.6103px rgba(0, 0, 0, 0.1);
}


.overview {
  position: absolute;
  left: 11.47%;
  right: 15.22%;
  top: 4.26%;
  bottom: 87.32%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.moodtext {
  position: absolute;
  left: 11.47%;
  right: 55.22%;
  top: 46%;
  bottom: 87.32%;
  z-index: 1;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.nutritext {
  position: absolute;
  left: 11.47%;
  right: 55.22%;
  top: 26%;
  bottom: 87.32%;
  z-index: 1;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.nutrition {
  height: 300px;
  margin: 30px;
  border-radius: 20px;
  margin-top: 100px;
  background-color: #F36868;
}

.mood {
  background-color: #8DDFC7;
  height: 300px;
  margin: 30px;
  border-radius: 20px;
}